@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

pre:has(code) {
  max-width: 100%;
}

.prose p > code::before,
.prose h1 > code::before,
.prose h2 > code::before,
.prose h3 > code::before,
.prose h4 > code::before,
.prose p > code::after,
.prose h1 > code::after,
.prose h2 > code::after,
.prose h3 > code::after,
.prose h4 > code::after,
td > code::before,
td > code::after,
li > code::before,
li > code::after {
  content: none;
  display: none;
}
